.DS_Store
**/.vscode/*
**/.idea/*
**/dist/*
**/*.log/*
**/volumes/*
**/__pycache__/*
**/.pytest_cache/*
server/cdc
**/milvus-cdc-build/*
*.log
coverage.out
go.work
go.work.sum
**/bak/**
bin/
*.out
*.csv
*.duckdb
*.duckdb.wal